.my-btn{
  background-color: $btn-color;
  border: none;
  text-transform: uppercase;
  font-size: 0.5625rem;
  color: #ffffff;
}

.my-btn--md{
  padding: 15px 45px;


}

.my-btn--lg{
  padding: 15px 80px;

}

.soc-btn{
  @include btn-color(#c6cacc, $soc-btn-color);
  display: inline-block;
  width: 30px;
  height: 30px;
  padding: 5px 7px;
  margin-right: 4px;
}

.soc-btn--white{
  @include btn-color(#fff, #fff);
}