$ff-main: 'RalewayRegular', sans-serif;
$ff-another: 'RalewayBold', sans-serif;
$accent-color: #e1e1e1;
$btn-color: #e84545;
$bg-color: #2a2e48;
$soc-btn-color: #c6cacc;
$main-footer-color: #3a3e64;
$copyright-footer-color: #313454;