section.download
    .container
        .row
            .col-md-6.col-md-offset-3
                .download__block
                    h5.download__header Are you ready to start? Download for free!
                    p.download__text Are you ready to start? Download for free!
                    button.my-btn.my-btn--lg.btn.btn-danger download here