footer.footer
    .main-footer
        .container
            .row
                .col-md-4
                    .main-footer__item
                        h5.main-footer__header location
                        p.main-footer__text 3481 Melrose Place Beverly Hills CA 90210
                .col-md-4
                    .main-footer__item
                        h5.main-footer__header Share with love
                        a.soc-btn.soc-btn--white(href="#")
                            i.fa.fa-facebook
                        a.soc-btn.soc-btn--white(href="#")
                            i.fa.fa-twitter
                        a.soc-btn.soc-btn--white(href="#")
                            i.fa.fa-linkedin-square
                .col-md-4
                    .main-footer__item
                        h5.main-footer__header About Activebox
                        p.main-footer__text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut, dolores doloribus eos incidunt iste labore! Fugit, quos!