section.params
    .container
        .row
            .col-md-4.col-sm-6
                .params__block
                    i.fa.fa-desktop.params__icon(aria-hidden="true")
                    h3.params__header Easily Customised
                    p.params__text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur at autem commodi, consequatur eveniet harum, laborum magni neque numquam quasi voluptas?
            .col-md-4.col-sm-6
                .params__block
                    i.fa.fa-desktop.params__icon(aria-hidden="true")
                    h3.params__header Easily Customised
                    p.params__text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur at autem commodi, consequatur eveniet harum, laborum magni neque numquam quasi voluptas?
            .col-md-4.col-sm-6
                .params__block
                    i.fa.fa-desktop.params__icon(aria-hidden="true")
                    h3.params__header Easily Customised
                    p.params__text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur at autem commodi, consequatur eveniet harum, laborum magni neque numquam quasi voluptas?
            .col-md-4.col-sm-6
                .params__block
                    i.fa.fa-desktop.params__icon(aria-hidden="true")
                    h3.params__header Easily Customised
                    p.params__text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur at autem commodi, consequatur eveniet harum, laborum magni neque numquam quasi voluptas?
            .col-md-4.col-sm-6
                .params__block
                    i.fa.fa-desktop.params__icon(aria-hidden="true")
                    h3.params__header Easily Customised
                    p.params__text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur at autem commodi, consequatur eveniet harum, laborum magni neque numquam quasi voluptas?
            .col-md-4.col-sm-6
                .params__block
                    i.fa.fa-desktop.params__icon(aria-hidden="true")
                    h3.params__header Easily Customised
                    p.params__text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur at autem commodi, consequatur eveniet harum, laborum magni neque numquam quasi voluptas?
