section.team
    .container
        .row
            .col-md-3.col-sm-6
                .team__item
                    img.img-responsive.team__image(src="images/team-1.jpg")(alt="team-img")
                    h4.team__header Ruth Woods
                    span.team__specialty founder ceo
                    p.team__text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus eaque fuga, molestias nemo nulla provident repudiandae voluptatem! Consectetur earum hic iusto, rerum sapiente tenetur vitae.
                    .team__btns
                        a.soc-btn(href="#")
                            i.fa.fa-facebook
                        a.soc-btn(href="#")
                            i.fa.fa-twitter
                        a.soc-btn(href="#")
                            i.fa.fa-linkedin-square
            .col-md-3.col-sm-6
                .team__item
                    img.img-responsive.team__image(src="images/team-2.jpg")(alt="team-img")
                    h4.team__header Ruth Woods
                    span.team__specialty founder ceo
                    p.team__text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus eaque fuga, molestias nemo nulla provident repudiandae voluptatem! Consectetur earum hic iusto, rerum sapiente tenetur vitae.
                    .team__btns
                        a.soc-btn(href="#")
                            i.fa.fa-facebook
                        a.soc-btn(href="#")
                            i.fa.fa-twitter
                        a.soc-btn(href="#")
                            i.fa.fa-linkedin-square
            .col-md-3.col-sm-6
                .team__item
                    img.img-responsive.team__image(src="images/team-3.jpg")(alt="team-img")
                    h4.team__header Ruth Woods
                    span.team__specialty founder ceo
                    p.team__text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus eaque fuga, molestias nemo nulla provident repudiandae voluptatem! Consectetur earum hic iusto, rerum sapiente tenetur vitae.
                    .team__btns
                        a.soc-btn(href="#")
                            i.fa.fa-facebook
                        a.soc-btn(href="#")
                            i.fa.fa-twitter
                        a.soc-btn(href="#")
                            i.fa.fa-linkedin-square
            .col-md-3.col-sm-6
                .team__item
                    img.img-responsive.team__image(src="images/team-4.jpg")(alt="team-img")
                    h4.team__header Ruth Woods
                    span.team__specialty founder ceo
                    p.team__text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus eaque fuga, molestias nemo nulla provident repudiandae voluptatem! Consectetur earum hic iusto, rerum sapiente tenetur vitae.
                    .team__btns
                        a.soc-btn(href="#")
                            i.fa.fa-facebook
                        a.soc-btn(href="#")
                            i.fa.fa-twitter
                        a.soc-btn(href="#")
                            i.fa.fa-linkedin-square