section.works
    .container-fluid
        .row
            .col-md-3.col-sm-6.p0
                .works__block
                    .image__wrap
                        .works__descr
                            h4.works__header
                            p.works__text some description
                    img.img-responsive.works__image(src="images/work-1.jpg")(alt="work img")
            .col-md-3.col-sm-6.p0
                .works__block
                    .image__wrap
                        .works__descr
                            h4.works__header
                            p.works__text some description
                    img.img-responsive.works__image(src="images/work-2.jpg")(alt="work img")
            .col-md-3.col-sm-6.p0
                .works__block
                    .image__wrap
                        .works__descr
                            h4.works__header
                            p.works__text some description
                    img.img-responsive.works__image(src="images/work-3.jpg")(alt="work img")
            .col-md-3.col-sm-6.p0
                .works__block
                    .image__wrap
                        .works__descr
                            h4.works__header
                            p.works__text some description
                    img.img-responsive.works__image(src="images/work-4.jpg")(alt="work img")
            .col-md-3.col-sm-6.p0
                .works__block
                    .image__wrap
                        .works__descr
                            h4.works__header
                            p.works__text some description
                    img.img-responsive.works__image(src="images/work-5.jpg")(alt="work img")
            .col-md-3.col-sm-6.p0
                .works__block
                    .image__wrap
                        .works__descr
                            h4.works__header
                            p.works__text some description
                    img.img-responsive.works__image(src="images/work-6.jpg")(alt="work img")
            .col-md-3.col-sm-6.p0
                .works__block
                    .image__wrap
                        .works__descr
                            h4.works__header
                            p.works__text some description
                    img.img-responsive.works__image(src="images/work-7.jpg")(alt="work img")
            .col-md-3.col-sm-6.p0
                .works__block
                    .image__wrap
                        .works__descr
                            h4.works__header
                            p.works__text some description
                    img.img-responsive.works__image(src="images/work-8.jpg")(alt="work img")
